.card-body {
    display: flex;
    justify-content: flex-start;
    /* gap: 20px; */
    margin-top: auto;
}


.label {
    line-height: 0.8;
    font-weight: 600;
    color: var(--primary-color);
    letter-spacing: 3px;
    font-size: 4rem;
}

.divider {
    border-right: 1px solid rgba(172, 173, 174, 0.3);
}

.total-grid {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* margin-left: auto; */
}

.total-grid .total-label{
    color: var(--text-light-gray);
}

.total-grid .total-value{
    color: var(--text-dark-gray);
    font-size: 24px;
    font-weight: 600;
    opacity: 0.8;
}